<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Your Information</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName" class="label">First Name</label>
              <input type="text" nbInput fullWidth shape="semi-round" id="inputFirstName" placeholder="First Name">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLastName" class="label">Last Name</label>
              <input type="text" nbInput fullWidth shape="semi-round" id="inputLastName" placeholder="Last Name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Date of birth</label>
              <input nbInput fullWidth shape="semi-round" placeholder="Date of birth" [nbDatepicker]="formpicker"> <nb-datepicker #formpicker></nb-datepicker>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Sex</label>
              <nb-select fullWidth shape="semi-round" placeholder="Sex">
                <nb-option value="1">Male</nb-option>
                <nb-option value="2">Female</nb-option>
                <nb-option value="3">Other</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Type Document</label>
              <nb-select fullWidth shape="semi-round" placeholder="Type Document">
                <nb-option value="1">CPF</nb-option>
                <nb-option value="2">CNPJ</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="form-group">
              <label class="label">Document</label>
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Document">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">ID Position</label>
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="ID Position">
            </div>
          </div>
          <div class="col-sm-8">
            <div class="form-group">
              <label class="label">Position</label>
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Position">
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Contact</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Email</label>
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Email">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Telephone</label>
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Telephone">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Country</label>
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Country">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">State</label>
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="State">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">City</label>
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="City">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label class="label">Address</label>
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Address">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Number</label>
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Number">
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Configuration</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Theme</label>
                <nb-select fullWidth shape="semi-round" [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
                  <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
                </nb-select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Language</label>
              <nb-select fullWidth shape="semi-round" placeholder="Language">
                <nb-option value="en">English</nb-option>
                <nb-option value="es">Spanish</nb-option>
                <nb-option value="pt">Portuguese</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Permission</nb-card-header>
      <nb-card-body class="checkbox-radio">
        <div class="demo-items">
          <nb-radio-group [(value)]="radioGroupValue">
            <nb-radio
              [value]="1">
              Administrator
            </nb-radio>
            <nb-radio
              [value]="2">
              Manager
            </nb-radio>
            <nb-radio
              [value]="3">
              Employee
            </nb-radio>
          </nb-radio-group>
        </div>
      </nb-card-body>
    </nb-card>

  </div>
</div>
